@import "./utils/variables";
@import "./base/common";
@import "./components/header";
@import "./components/logo";
@import "./components/menu";
@import "./components/contacts";
@import "./layouts/hero";
@import "./layouts/feature";
@import "./layouts/work";
@import "./layouts/team";
@import"./components/social";
@import "./layouts/client";
@import "./components/footer";
@import "./components/adress-footer";
@import "./components/footer-social";
@import "./components/footer-subscriber";









/* 
подпишитесь*/
/*наши работы*/
a {
  text-decoration: none;
}
.filters-list {
  justify-content: center;
  margin-bottom: 34px;
}

.filters-items:not(:last-child) {
  margin-right: 8px;
}
/* button*/

.button-filters {
  display: inline-block;

  border: none;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  border-radius: 4px;

  color: var(--primery-text-colour);
  background-color: var(--button-bck-color);
  text-decoration: none;

  transition: all var(--main-transition);
}

.button-filters:focus,
.button-filters:hover {
  color: var(--white);
  background-color: var(--acent);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  outline: none;
}
.portfolio-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primery-text-colour);
}

.portfolio-items {
  position: relative;
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  transition: box-shadow var(--main-transition);
}
.portfolio-items:nth-child(3n) {
  margin-right: 0;
}
.portfolio-items:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.servise {
  padding: 20px 24px;
}
/* portfolio-overlay */
.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.potfolio-overlay-text {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;

  color: var(--white);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform var(--main-transition);
}

.portfolio-items:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-items:hover .potfolio-overlay-text,
.portfolio-items:focus .potfolio-overlay-text {
  transform: translateY(0);
}

/* backdrop*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity var(--main-transition);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translateX(-50%, -50%) scale(0);
}

/* modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(1);

  width: 100%;
  max-width: 528px;
  min-height: 581px;
  padding: 40px;

  background: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.button-close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: var(--logo-color);
  outline: nonefix;
  text-align: center;

  transition: fill var(--main-transition);
}
.button-close:focus,
.button-close:hover {
  fill: var(--acent);
}
.modal-title {
  display: block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--primery-text-colour);
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
}
.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.form-input {
  margin-bottom: 10px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;

  transition: border-color var(--main-transition);
  outline: none;
}

.form-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;

  transform: translateY(-25%);
  transition: fill var(--main-transition);

  fill: var(--primery-text-colour);
}

.textarea {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  margin-bottom: 20px;

  border: 1px solid rgba(33, 33, 33, 0.2);

  border-radius: 4px;
  transition: border-color var(--main-transition);
  outline: none;
}
.textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-input:focus ~ .form-icon,
.form-input:focus,
.textarea:focus {
  border-color: var(--acent);
  fill: var(--acent);
}
/* checkbox */
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color);
}

.checkbox-text::before {
  content: "";
  display: inline-flex;
  text-align: center;
  width: 16px;
  height: 15px;
  margin-left: 13px;
  margin-right: 7px;
  border: 2px solid var(--primery-text-colour);
  border-radius: 2px;
  transition: all var(--main-transition);
}

.link-check {
  color: var(--acent);
  text-decoration-line: underline;
}
.checkbox:checked ~ .checkbox-text::before {
  background-color: var(--acent);
  border-color: var(--acent);
  background-image: url(../img2/icons/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}
/* button-submit */
.submit {
  display: flex;
  justify-content: center;
}
.btn.btn-submit {
  min-width: 200px;
  padding: 10px 56px;

  transition: background-color var(--main-transition);
}
.btn-submit:hover,
.btn-submit:focus {
  background-color: #188ce8;
}
