@import "./utils/variables";
@import "./base/common";
@import "./components/header";
@import "./components/logo";
@import "./components/menu";
@import "./components/contacts";
@import "./layouts/hero";
@import "./layouts/feature";
@import "./layouts/work";
@import "./layouts/team";
@import "./components/social";
@import "./layouts/client";
@import "./components/footer";
@import "./components/adress-footer";
@import "./components/footer-social";
@import "./components/footer-subscriber";
@import "./components/backdrop";
@import "./components/modal";

/* modal */
.form__title {
  display: block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: $primery-text-color;
}
.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
}
.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.form__input {
  margin-bottom: 10px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;

  transition: border-color var(--main-transition);
  outline: none;
}

.form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;

  transform: translateY(-25%);
  transition: fill var(--main-transition);

  fill: var(--primery-text-colour);
}

.textarea {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  margin-bottom: 20px;

  border: 1px solid rgba(33, 33, 33, 0.2);

  border-radius: 4px;
  transition: border-color var(--main-transition);
  outline: none;
}
.textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form__input:focus ~ .form__icon,
.form__input:focus,
.textarea:focus {
  border-color: var(--acent);
  fill: var(--acent);
}
/* checkbox */
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color);
}

.checkbox-text::before {
  content: "";
  display: inline-flex;
  text-align: center;
  width: 16px;
  height: 15px;
  margin-left: 13px;
  margin-right: 7px;
  border: 2px solid var(--primery-text-colour);
  border-radius: 2px;
  transition: all var(--main-transition);
}

.link-check {
  color: var(--acent);
  text-decoration-line: underline;
}
.checkbox:checked ~ .checkbox-text::before {
  background-color: var(--acent);
  border-color: var(--acent);
  background-image: url(../img2/icons/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}
/* button-submit */
.submit {
  display: flex;
  justify-content: center;
}
.btn.btn-submit {
  min-width: 200px;
  padding: 10px 56px;

  transition: background-color var(--main-transition);
}
.btn-submit:hover,
.btn-submit:focus {
  background-color: #188ce8;
}
