@import "./utils/variables";
@import "./base/common";
@import "./components/header";
@import "./components/logo";
@import "./components/menu";
@import "./components/contacts";
@import "./layouts/hero";
@import "./layouts/feature";
@import "./layouts/work";
@import "./layouts/team";
@import "./components/social";
@import "./layouts/client";
@import "./components/footer";
@import "./components/adress-footer";
@import "./components/footer-social";
@import "./components/footer-subscriber";
@import "./components/backdrop";
@import "./components/modal";
@import "./components/forms";

/* modal */

/* checkbox */
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color);
}

.checkbox-text::before {
  content: "";
  display: inline-flex;
  text-align: center;
  width: 16px;
  height: 15px;
  margin-left: 13px;
  margin-right: 7px;
  border: 2px solid var(--primery-text-colour);
  border-radius: 2px;
  transition: all var(--main-transition);
}

.link-check {
  color: var(--acent);
  text-decoration-line: underline;
}
.checkbox:checked ~ .checkbox-text::before {
  background-color: var(--acent);
  border-color: var(--acent);
  background-image: url(../img2/icons/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}
/* button-submit */
.submit {
  display: flex;
  justify-content: center;
}
.btn.btn-submit {
  min-width: 200px;
  padding: 10px 56px;

  transition: background-color var(--main-transition);
}
.btn-submit:hover,
.btn-submit:focus {
  background-color: #188ce8;
}
