/* contacts*/
.contacts {
  display: flex;
  align-items: center;
}
.contacts  {
  @extend %link;
  display: flex;
  align-items: center;

  color: $text-color;
  text-decoration: none;
}
.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}


.contacts__item:not(:last-child) {
  margin-right: 30px;
}