.logo {
  margin-right: 93px;

  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo__main {
  color: $acent;
}
.logo__part {
  color: $primery-text-colour;
}