.menu {
  display: flex;
}
.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu .link {
  
  display: block;
  padding: 32px 0;
  color: $primery-text-color;
  transition: color $main-transition;

  &:hover,
  &:focus {
  color:$acent;
}
}

