$primery-text-colour: #212121;
$text-color: #757575;
$acent: #2196f3;
$footer-tel-mail-colour: rgba(255, 255, 255, 0.6);
$logo-color: #000000;
$main-bg-color: #e5e5e5;
$section-team-bg-color: #f5f4fa;
$footer-bg-color: #2f303a;
$white: #ffffff;
$button-bck-color: #f5f4fa;
$bcg-hero: #c4c4c4;
$icon-color: #afb1b8;
$main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
