/* клиенты */

.client {
  display: flex;
}
.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border-color $main-transition;
}

.client__item:not(:last-child) {
  margin-right: 30px;
}
.client__icon {
  fill: $icon-color;

  transition: fill $main-transition;
}
.client__link:hover,
.client__link:focus {
  border-color: $acent;
}
.client__link:hover .client__icon,
.client__link:focus .client__icon {
  fill: $acent;
}
